<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}

{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.LanguageCode }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.LanguageCode }}" class="light">
{{- else -}}
<html lang="{{ .Site.LanguageCode }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}

    {{ partial "random-hero-banner.html" . }}

    <div class="wrapper">
        <div class="profile-header">
            {{ partial "bio" . }}
        </div>

        <main aria-label="Content">
            {{ partial "filter-bar.html" . }}
            {{ $types := partial "media-type-keys.html" . }}
            {{ $media := where .Site.RegularPages "Params.type" "in" $types }}
            {{ partial "media-collection.html" (dict "pages" $media "ctx" .) }}
        </main>
    </div>

    {{- partial "footer.html" . -}}

    {{ partial "year-nav-script.html" . }}
    {{ partial "filter-script.html" . }}

    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
